body{
    background: rgb(85, 169, 85);
    background-image: url(https://imgs.search.brave.com/UFf9mQ6ncg_MXkth2M3veam1egh44R5im8FkAWwgxeU/rs:fit:653:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC5G/dkVCRUh2TGZXdHFv/dEZ6dW5ORy1RSGFG/WSZwaWQ9QXBp);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: rgb(22, 22, 43);
}
